  *{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.contaner{
  width: 100%; 
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
  
}
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
}
.logo{
  width: 50px;
  cursor: pointer;
  margin: 30px 0;
}
.menu{
  width: 25px;
  cursor: pointer;
  display: none;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}
nav ul li a{
  text-decoration: none;
  color: #000;
  font-size: 14px;
}
nav ul li a:hover{
  color:  royalblue;
}
.row{
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
  align-items: center;
}
.col-1{
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}
.col-1 h2{
  font-size: 54px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.col-1 h5{
  font-size: 20px;
  color: royalblue;
  font-weight: 100;
  margin: 20 0 10;
  margin-top: 23px;
}
.col-1 h5{
  margin: 30px 0;
  font-size: 20px;
  
}
button{
  width: 140px;
  border: 0;
  outline: none;
  padding: 12px 10px;
  color: white;
  background: linear-gradient(to right, royalblue, blue);
 border-radius: 10px; 
 cursor: pointer;
}

.col-1::after{
  content: '';
  width: 10px;
  height: 57%;
  background: linear-gradient(royalblue, darkblue, purple);
  position: absolute;
 left: -40px;
 top: 8px;
 border-radius: 4px;
}

.col-2{
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: center;
}
.col-2 .watch{
  width: 80%;
  margin-left: 20px;
}
.colorbox{
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(royalblue, darkblue);
  border-radius: 20px 0 0 20px;
   
  height: 100%;
  width: 90%;
  z-index: -1;
  transform: translateX(150px);
}
.add img{
  width: 35px;
  cursor: pointer;
  margin-bottom: 2px;
  
}
.add{
  text-align: center;
  color: white;
  margin-left: 23px;
}
.add p{
  text-size: 23px;
  margin-top: 13px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}
.social-links img{
  height: 13px;
  margin: 20px;
  
  
}
.social-links{
  text-align: center;
  margin-top: 60px;
}
.about{
  margin-top: 200px;
}
.data{
				float: left;
				width: 55%;
				margin-left: 20px;
}
.img{
				float: right;
				
				width: 30%;
}
.img img{
				width: 100%;
				height: auto;
				
				
}
.title{
				font-size: 20px;
				
}
.content h5{
				font-size: 18px;
				letter-spacing: 0.5px;
				margin-top: 10px;
				margin-left: 5px;
				margin-bottom: 5px;
				
				
}
.content p{
				font-size: 10px;
				color: dimgray;
}
.btn{
				margin-top: 20px;
				border-radius: 10px;
				
}
.btn button{
				background: linear-gradient(to right, royalblue, darkblue);
				text-decoration: none;
				color: white;
				padding: 12px 14px;
				letter-spacing: 1.5px;
		  width: 100%;
		  border-radius: 30px;
		  border: none;
		  outline: none;
		  
}
.our-services{
  width: 100%;
  height: 99vh;
  
  margin-top: 600px;

} 
.our-title{
  text-align: center;
  padding-top: 10%;
  margin-bottom: 50px;
  font-weight: 600;
  position: relative;
  margin-right: 20px;
}
.our-title h2{
  font-size: 30px;
}

.our-title h2::after{
  content: '';
  background: royalblue;
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-46%)
  
  
} 
.services{
  
}
.row{
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}
.row{
  display: grid;
 
  grid-gap: 30px;
  
}
.services{
  text-align: center;
  padding: 25px 10px;
  border-radius: 5px;
  background: transparent;
  font-size: 14px;
  transition: transform 0.5s, background 0.5s;
}
.services i{
  font-size: 40px;
  color: royalblue;
  margin-bottom: 10px;
}
.services h3{
  margin-bottom: 6px;
  font-weight: 600;
}
.services p{
  color: dimgray;
}
.services:hover{
  background: royalblue;
  color: white;
  transform: scale(1.05);
}
.services:hover i{
  color: white;
}
.services:hover p{
  color: white;
}
@media only screen and (max-width: 700px){
  nav ul{ 
  width: 100%;
  background: linear-gradient(to right, royalblue, darkblue);
  position: absolute;
  top:75px;
  right: 0;
  z-index: 2;
  
  }
  nav ul li{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    
  }
  nav ul li a{
    color: white;
  }
  .menu{
    display: block;
  }
  #menuList{
    overflow: hidden;
    transition: 0.5s;
    
  }
  .row{
    flex-direction: column-reverse;
    margin: 50px 0;
  }
  .col-2{
    flex-basis: 100%;
    margin-bottom: 50px;
  }
  .col-2 watch{
    width: 77%;
  }
  .colorbox{
    transform: translateX(75px);
  }
  .col-1 h2 {
    font-size: 35px;
  }
  .col-1 h5 {
    font-size: 15px;
  
  }
  .img{
    display: none;
  }
  .img img{
    display: none;
    background-image:
     none;
    float: left;
  }
  .about{
    
    margin-right: -150px;
    
  }
  .btn{
    width: 50%;
    text-align: center;
  }
  .btn button{
    border-radius: 5px;
  }
  
  .content{
    
  }
}
